WorkspaceSpring/workspace_spring/WsSalutamiService/WebContent/wsdl/WsSaluto.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws" xmlns:intf="http://ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="saluto">
    <complexType>
     <sequence>
      <element name="tipoSaluto" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="salutoResponse">
    <complexType>
     <sequence>
      <element name="salutoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="salutoResponse">

      <wsdl:part element="impl:salutoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="salutoRequest">

      <wsdl:part element="impl:saluto" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WsSaluto">

      <wsdl:operation name="saluto">

         <wsdl:input message="impl:salutoRequest" name="salutoRequest">

       </wsdl:input>

         <wsdl:output message="impl:salutoResponse" name="salutoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WsSalutoSoapBinding" type="impl:WsSaluto">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="saluto">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="salutoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="salutoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WsSalutoService">

      <wsdl:port binding="impl:WsSalutoSoapBinding" name="WsSaluto">

			<!-- l'inidirizzo dove è in ascolto il server, il lookup dell'RMI -->
         <wsdlsoap:address location="http://localhost:8080/WsSoapSalutoDynamic/services/WsSaluto"/> 
      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
