WorkspaceSpring/workspace_spring/ServicesWebUno/WebContent/wsdl/Servizio.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services" xmlns:intf="http://services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="somma">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sommaResponse">
    <complexType>
     <sequence>
      <element name="sommaReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sottrazione">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sottrazioneResponse">
    <complexType>
     <sequence>
      <element name="sottrazioneReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sottrazioneResponse">

      <wsdl:part element="impl:sottrazioneResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sommaRequest">

      <wsdl:part element="impl:somma" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sottrazioneRequest">

      <wsdl:part element="impl:sottrazione" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sommaResponse">

      <wsdl:part element="impl:sommaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Servizio">

      <wsdl:operation name="somma">

         <wsdl:input message="impl:sommaRequest" name="sommaRequest">

       </wsdl:input>

         <wsdl:output message="impl:sommaResponse" name="sommaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sottrazione">

         <wsdl:input message="impl:sottrazioneRequest" name="sottrazioneRequest">

       </wsdl:input>

         <wsdl:output message="impl:sottrazioneResponse" name="sottrazioneResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServizioSoapBinding" type="impl:Servizio">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="somma">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sommaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sommaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sottrazione">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sottrazioneRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sottrazioneResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServizioService">

      <wsdl:port binding="impl:ServizioSoapBinding" name="Servizio">

         <wsdlsoap:address location="http://localhost:9090/ServicesWebUno/services/Servizio"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
